TZ=Asia/Kolkata
PUID=1000
PGID=1000
USERDIR=/home/username/docker
OVPN_PROVIDER=CUSTOM
OVPN_USER=abcdefghijklmnopqrstuvwxyz
OVPN_PASS=abcdefghijklmnopqrstuvwxyz
TRANSMISSION_USER=abcdefghijklmnopqrstuvwxyz
TRANSMISSION_PASS=abcdefghijklmnopqrstuvwxyz

